
Study_centre/WebCenter/WebCenter/.DS_Store
Study_centre/WebCenter/WebCenter/__pycache__/__init__.cpython-312.pyc
Study_centre/WebCenter/WebCenter/__pycache__/settings.cpython-312.pyc
Study_centre/WebCenter/WebCenter/__pycache__/urls.cpython-312.pyc
Study_centre/WebCenter/WebCenter/__pycache__/wsgi.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0010_group.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0011_alter_student_date_of_birth_alter_student_email_and_more.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0012_alter_group_type_of_math_exam_group.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0013_remove_group_student_and_more.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0014_students_in_group.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0015_group_group_capacity.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0016_alter_group_teacher.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0017_group_created.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/__init__.cpython-312.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/MyRep.iml
.idea/vcs.xml
Study_centre/.idea/misc.xml
Study_centre/.idea/Study_centre.iml
Study_centre/WebCenter/.DS_Store
Study_centre/WebCenter/catalog/__pycache__/__init__.cpython-312.pyc
Study_centre/WebCenter/catalog/__pycache__/admin.cpython-312.pyc
Study_centre/WebCenter/catalog/__pycache__/apps.cpython-312.pyc
Study_centre/WebCenter/catalog/__pycache__/forms.cpython-312.pyc
Study_centre/WebCenter/catalog/__pycache__/models.cpython-312.pyc
Study_centre/WebCenter/catalog/__pycache__/views.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0001_initial.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0002_subjects.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0003_rename_subjects_subject.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0004_type.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0005_worker.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0006_alter_worker_gender_alter_worker_subject_and_more.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0007_remove_student_subjecs_subject_and_more.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0008_rename_student_subjecs_student_subjects.cpython-312.pyc
Study_centre/WebCenter/catalog/migrations/__pycache__/0009_alter_student_subjects_subjects.cpython-312.pyc
Study_centre/.idea/misc.xml
Study_centre/.idea/Study_centre.iml
