{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Группы</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    <a class="btn btn-success" href="{% url 'group_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Добавить группу</a>
                    <h1> </h1>
                    <h1> </h1>
                    <h4>Список групп</h4>
                    <table id="mytable">
                        <tr>
                            <th></th>
                            <th>Номер группы</th>
                            <th>Класс</th>
                            <th>Предмет</th>
                            <th>Тип занятий</th>
                            <th>Преподаватель</th>

                        </tr>
                        {% for group in groups %}
                        <tr><td><a href="{% url 'group_detail' pk=group.pk %}" class="top-menu"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td>{{ group.id }}</td>
                            <td>{{ group.grade }}</td>
                            <td>{{ group.subject }}</td>
                            <td>{{ group.type }}</td>
                            <td>{{ group.teacher.lastname }} {{ group.teacher.firstname }} {{ group.teacher.fathername }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </section>
            </div>
{% endblock content %}