{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content%}
<div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6" xmlns="http://www.w3.org/1999/html">
    <h1 class="h3 text-center mt-3">Добавление группы</h1>
    <h2 class="lead text-center"></h2>
    <hr class="mb-5">
    <section style="background-color: rgba(158,180,243,0.68); padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <div class="container">
                <h5 style="color: #0f203b; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); font-size: 2em;">Шаг 1: Общие сведения</h5>
                <form method="POST" class="p-4 my-4" style="background-color: #c0cff3; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5>{{ group_form.grade.label_tag }}</h5>
                            {{ group_form.grade|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6">
                            <h5>{{ group_form.group_capacity.label_tag }}</h5>
                            {{ group_form.group_capacity|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="border p-3">
                                <h5>{{ group_form.subject.label_tag }}</h5>
                                {% for radio in group_form.subject %}
                                    <div class="form-check">
                                        {{ radio }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border p-3">
                                <h5>{{ group_form.type.label_tag }}</h5>
                                {% for radio in group_form.type %}
                                    <div class="form-check">
                                        {{ radio }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a class="btn btn-secondary" href="{% url 'groups' %}">Отмена</a>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Назначить преподавателя</button>
                        </div>
                    </div>
                </form>
            </div>
    </section>
</div>
{% endblock content %}