{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Информация о группе</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    <div class="group">
                        <h1>
                            <a class="btn btn-primary" href="{% url 'edit_teacher' pk=group.pk %}"><span class="glyphicon glyphicon-pencil"></span> Изменить преподавателя</a>
                            <a class="btn btn-danger" href="{% url 'group_delete' pk=group.pk %}"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
                            <a class="btn btn-primary" href="{% url 'add_student_in_group' pk=group.pk %}"><span class="glyphicon glyphicon-pencil"></span> Изменить учащихся</a>
                        </h1>
                        <h5>Класс: {{ group.grade }}</h5>
                        <h5>Дисциплина: {{ group.subject }}</h5>
                        <h5>Программа: {{ group.type }}</h5>
                        <h5>Преподаватель: {{ group.teacher.lastname }} {{ group.teacher.firstname }} {{ group.teacher.fathername }}</h5>

                        <p>
                            <h4>Список учащихся:
                            {% for student in students.student.all %}
                                <li>{{ student }}</li>
                            {% endfor %}
                             </h4>
                        </p>
                    </div>
                </section>
            </div>
{% endblock content %}