{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Сотрудники</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section style="background-color: rgb(196, 211, 237); padding: 20px;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 class="lesson-month" style="color: #333; font-size: 1.5em; margin-bottom: 10px; padding: 10px; background-color: rgba(160, 184, 239, 0.94); border-top-left-radius: 5px; border-top-right-radius: 5px;">Список отрудников</h3>
                        <a class="btn btn-success" href="{% url 'worker_new' %}" class="btn top-menu"><span class="glyphicon glyphicon-plus"></span> Добавить сотрудника</a>
                    </div>

                    <div class="table-responsive" style="width: 100%;">
                        <table class="table table-striped table-bordered lesson-table" style="width: 100%; border-collapse: collapse;">
                            <thead>
                                <tr style="background-color: rgba(158, 180, 243, 0.68);">
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Отчество</th>
                                    <th>Преподаваемые дисциплины</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for worker in workers %}
                                <tr class="table-row" style="cursor: pointer;" onclick="window.location='{% url 'worker_detail' pk=worker.pk %}';" onmouseover="this.style.backgroundColor='rgba(74, 78, 137, 0.28)';" onmouseout="this.style.backgroundColor='';">
                                    <td>{{ worker.firstname }}</td>
                                    <td>{{ worker.lastname }}</td>
                                    <td>{{ worker.fathername }}</td>
                                    <td>{{ worker.get_subjects }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
{% endblock content %}