{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content%}
<div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6" xmlns="http://www.w3.org/1999/html">
                <h1 class="h3 text-center mt-3">Добавление/редактирование сотрудника</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section>
                    <div class="container">
                        <div class="card my-5" style="background-color: #b7c9f3; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div class="card-body">
                                <h1 class="mb-4" style="color: #0f203b; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); font-size: 2.5em;">Данные сотрудника</h1>

                                <form method="POST" class="p-4" style="background-color: #c0cff3; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                    {% csrf_token %}

                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            {{ form1.lastname.label_tag }}
                                            {{ form1.lastname|add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form1.firstname.label_tag }}
                                            {{ form1.firstname|add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form1.fathername.label_tag }}
                                            {{ form1.fathername|add_class:"form-control" }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            {{ form1.date_of_birth.label_tag }}
                                            {{ form1.date_of_birth|add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form1.gender.label_tag }}
                                            <div>
                                                {% for radio in form1.gender %}
                                                    <div class="form-check form-check-inline">
                                                        {{ radio }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form1.subject.label_tag }}
                                            {{ form1.subject|add_class:"form-control" }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            {{ form1.phone_number.label_tag }}
                                            {{ form1.phone_number|add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form1.email.label_tag }}
                                            {{ form1.email|add_class:"form-control" }}
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        {{ form1.registration_date.label_tag }}
                                        {{ form1.registration_date|add_class:"form-control" }}
                                    </div>
                                    <script>document.addEventListener('DOMContentLoaded', function() {
                                            document.querySelector("#id_registration_date").valueAsDate = new Date();});
                                    </script>

                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary me-3">Сохранить</button>
                                        <a class="btn btn-secondary" href="{% url 'workers' %}">Отмена</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
{% endblock content %}