{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Информация о сотруднике</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    <div class="worker">
                        <h1>{{ worker.lastname }} {{worker.firstname}} {{worker.fathername }}</h1>
                        <p>
                            <h4>Преподаваемые дисциплины:
                            {% for subject in worker.subject.all %}
                            <li>{{ subject }}</li>
                            {% endfor %}</h4>
                        </p>
                        <p>
                            <h5>Пол: {% if worker.gender|stringformat:"s" == "0" %}ж
                            {% elif worker.gender|stringformat:"s" == "1" %}м
                            {% endif %}</h5>
                        <h5>Дата рождения: {{ worker.date_of_birth }} </h5>
                        </p>
                        <p>
                            <h5>Номер телефона: {{ worker.phone_number }} </h5>
                            <h5>E-mail: {{ worker.email }} </h5>
                        </p>
                        <a class="btn btn-primary" href="{% url 'worker_edit' pk=worker.pk %}"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                        <a class="btn btn-danger" href="{% url 'worker_delete' pk=worker.pk %}"><span class="glyphicon glyphicon-trash"></span> Удалить</a>

                    </div>
                </section>
            </div>
{% endblock content %}