{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Информация о занятии</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    <div class="student">

                        <h3> {{ lesson.date|date:"d E" }}</h3>
                        <h5> {{ lesson.start_time|time:"H:i" }} - {{end_time|time:"H:i"}} </h5>
                        <p><h5>
                            <td class="text-center">
                                <a href="{% url 'add_status_to_lesson' pk=lesson.id %}" class="top-menu">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            Статус:
                            {% if lesson_status.status == 0 %} отменено
                            {% elif lesson_status.status == 1 %} проведено
                            {% elif lesson_status.status == 3 %} не отмечено
                            {% endif %}
                                <p>
                                    <a class="btn btn-success" href="{% url 'add_students_to_lesson' pk=lesson.id %}">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Отметить студентов</a>
                                </p>

                                <h3>Отмеченные студенты:</h3>
                                {% for student in students %}
            <li>{{ student.firstname }} {{ student.lastname }}</li>
        {% endfor %}
                            </td>
                        </h5></p>
                    </div>
                </section>
            </div>
{% endblock content %}