{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Расписание</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    {% for month, lessons in grouped_lessons.items %}
                    <h2>{{ month|date:"F Y" }}</h2>
                    <table id="mytable">
                        <tr>
                            <th>Детали</th>
                            <th>Статус</th>
                            <th>№ Группы</th>
                            <th>Дата</th>
                            <th>Начало</th>
                            <th>Конец</th>
                        </tr>
                        {% for lesson in lessons %}
                        <tr>
                            <td class="text-center"><a href="{% url 'lesson_details' lesson_id=lesson.id %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="text-center">
                                {% if lesson.status.status == 0 %}
                                <span class="glyphicon glyphicon-remove-sign"
                                style="font-size: 1.5em; color: #fc3636;"></span>

                                {% elif lesson.status.status == 1 %}
                                <span class="glyphicon glyphicon-ok-sign"
                                style="font-size: 1.5em; color: #32e740;"></span>

                                {% elif lesson.status.status == 3 %}
                                <span class="glyphicon glyphicon-question-sign"
                                style="font-size: 1.5em; color: #fce236;"></span>
                                {% endif %}
                            </td>
                            <td>{{ lesson.group.id }}</td>
                            <td>{{ lesson.date|date:"d E" }}</td>
                            <td>{{ lesson.start_time|time:"H:i" }}</td>
                            <td>{{ lesson.end_time|time:"H:i" }}</td></tr>
                        {% endfor %}
                    </table>
                {% endfor %}
                </section>
            </div>
{% endblock content %}