{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    .form-group label {
        display: block;
    }
</style>

<div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
    <h1 class="h3 text-center mt-3">Добавление/редактирование ученика</h1>
    <hr class="mb-5">
    <section style="background-color: rgba(158,180,243,0.68); padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="container">
            <h1 style="color: #0f203b; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); font-size: 2.5em;">Данные ученика</h1>
            <form method="POST" class="p-4 my-4" style="background-color: #c0cff3; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                {% csrf_token %}

                <div class="form-row mb-4">
                    <div class="form-group col-md-4">
                        {{ form.lastname.label_tag }}
                        {{ form.lastname|add_class:"form-control"}}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.firstname.label_tag }}
                        {{ form.firstname|add_class:"form-control" }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.fathername.label_tag }}
                        {{ form.fathername|add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        {{ form.date_of_birth.label_tag }}
                        {{ form.date_of_birth|add_class:"form-control"}}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.grade.label_tag }}
                        {{ form.grade|add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number|add_class:"form-control" }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                    <a class="btn btn-secondary btn-lg ml-3" href="{% url 'students' %}">Отмена</a>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock content %}
