{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Ученики</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section >
                    <a class="btn btn-success" href="{% url 'student_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Добавить ученика</a>
                    <h1> </h1>
                    <h1> </h1>
                    <h4>Список студентов</h4>
                    <table id="mytable">
                        <tr>
                            <th></th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Класс</th>
                        </tr>
                        {% for student in students %}
                        <tr><td><a href="{% url 'student_detail' pk=student.pk %}" class="top-menu"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td>{{ student.firstname }}</td>
                            <td>{{ student.lastname }}</td>
                            <td>{{ student.grade }}</td></tr>
                        {% endfor %}
                    </table>

                </section>
            </div>
{% endblock content %}