{% extends "base_generic.html" %}
{% block content%}
            <div class="col-md-8 col-lg-9 content-container" style="background-color: #ccdbf6">
                <h1 class="h3 text-center mt-3">Информация об ученике</h1>
                <h2 class="lead text-center"></h2>
                <hr class="mb-5">
                <section>
                    <div class="student card mt-5" style="background-color: rgba(156,173,213,0.38);">
                        <div class="card-body">
                            <h1>{{ student.lastname }} {{ student.firstname }} {{ student.fathername }}</h1>
                            <h3>{{ student.grade }} класс</h3>
                            <hr>
                            <h4>Выбранные дисциплины:</h4>
                            <ul>
                                {% for subject in subject.subjects.all %}
                                <li><h5>{{ subject }}</h5></li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h5><strong>Дата рождения:</strong> {{ student.date_of_birth }}</h5>
                            <h5><strong>Номер телефона:</strong> {{ student.phone_number }}</h5>
                            <h5><strong>E-mail:</strong> {{ student.email }}</h5>
                            <div class="mt-3">
                                <a class="btn btn-info" href="{% url 'student_edit' pk=student.pk %}">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить
                                </a>
                                <a class="btn btn-danger" href="{% url 'student_delete' pk=student.pk %}">
                                    <span class="glyphicon glyphicon-trash"></span> Удалить
                                </a>
                                <a class="btn btn-success" href="{% url 'add_subject_to_student' pk=student.pk %}">
                                    <span class="glyphicon glyphicon-plus"></span> Править дисциплины
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
{% endblock content %}